<div class="wrapper">
  <form [formGroup]="form">
    <p>Name:</p>
    <input type="text" formControlName="name">
    <p>Username:</p>
    <input type="text" formControlName="username">
    <p>Email:</p>
    <input type="email" formControlName="email">
    <p>Company name:</p>
    <input type="text" formControlName="companyName">
    <div class="btns">
      <button type="button" (click)="cancel()">
        Cancel
      </button>
      <button
        [disabled]="form.invalid"
        [mat-dialog-close]="formWithFields"
        >
        {{data ? "Edit" : "Create"}}
      </button>
    </div>
  </form>
</div>